In [26]:
import matplotlib as mt
import pandas as pd 
import numpy as np

In [27]:
%matplotlib inline

In [28]:
GLT=pd.read_csv('https://raw.githubusercontent.com/dbdmg/data-science-lab/master/datasets/GLT_filtered.csv')

In [29]:
GLT.head(10)

,Date,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1849-01-01,26.704,1.435,Abidjan,Côte D'Ivoire,5.63N,3.23W
1,1849-02-01,27.434,1.362,Abidjan,Côte D'Ivoire,5.63N,3.23W
2,1849-03-01,NaN,NaN,Abidjan,Côte D'Ivoire,5.63N,3.23W
3,1849-04-01,26.140,1.387,Abidjan,Côte D'Ivoire,5.63N,3.23W
4,1849-05-01,25.427,1.200,Abidjan,Côte D'Ivoire,5.63N,3.23W
5,1849-06-01,24.844,1.402,Abidjan,Côte D'Ivoire,5.63N,3.23W
6,1849-07-01,24.058,1.254,Abidjan,Côte D'Ivoire,5.63N,3.23W
7,1849-08-01,23.576,1.265,Abidjan,Côte D'Ivoire,5.63N,3.23W
8,1849-09-01,NaN,NaN,Abidjan,Côte D'Ivoire,5.63N,3.23W
9,1849-10-01,25.263,1.175,Abidjan,Côte D'Ivoire,5.63N,3.23W

In [30]:
GLT.columns

Index(['Date', 'AverageTemperature', 'AverageTemperatureUncertainty', 'City',
       'Country', 'Latitude', 'Longitude'],
      dtype='object')

In [31]:
GLT.dtypes

Date                              object
AverageTemperature               float64
AverageTemperatureUncertainty    float64
City                              object
Country                           object
Latitude                          object
Longitude                         object
dtype: object

#First question: Load the Global Land Temperature dataset as a list of lists. Before starting, take a moment to better inspect the attributes you are going to work on. How many of them are nominal, how many
continuous or discrete?

Answer:
The City and Country are nominal data because they are labels.

The AverageTemperature	and AverageTemperatureUncertainty are continuos data.

The Date is a countinue data because has a cronological timestep.

The Latitude and Longitude are continuos data.

##Second point

Analyze the attribute AverageTemperature, which contains missing values. Fill any gap with the
arithmetic mean among the closest antecedent and the closest successive measurements in time,
taken in the same city

In [32]:
GLT.nunique()

Date                              2352
AverageTemperature               49920
AverageTemperatureUncertainty     5287
City                               100
Country                             49
Latitude                            49
Longitude                           93
dtype: int64

In [33]:
GLT.isna().sum()

Date                                 0
AverageTemperature               27581
AverageTemperatureUncertainty    27581
City                                 0
Country                              0
Latitude                             0
Longitude                            0
dtype: int64

In [34]:
GLT[GLT['AverageTemperature'].isna()]

,Date,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
2,1849-03-01,NaN,NaN,Abidjan,Côte D'Ivoire,5.63N,3.23W
8,1849-09-01,NaN,NaN,Abidjan,Côte D'Ivoire,5.63N,3.23W
23,1850-12-01,NaN,NaN,Abidjan,Côte D'Ivoire,5.63N,3.23W
24,1851-01-01,NaN,NaN,Abidjan,Côte D'Ivoire,5.63N,3.23W
28,1851-05-01,NaN,NaN,Abidjan,Côte D'Ivoire,5.63N,3.23W
...,...,...,...,...,...,...,...
217495,1839-09-01,NaN,NaN,Xian,China,34.56N,108.97E
217496,1839-10-01,NaN,NaN,Xian,China,34.56N,108.97E
217497,1839-11-01,NaN,NaN,Xian,China,34.56N,108.97E
217498,1839-12-01,NaN,NaN,Xian,China,34.56N,108.97E
217829,1867-07-01,NaN,NaN,Xian,China,34.56N,108.97E

In [35]:
GLT_copy=GLT['AverageTemperature'].copy()

In [36]:
GLT_copy

0         26.704
1         27.434
2            NaN
3         26.140
4         25.427
           ...
219570    23.885
219571    17.028
219572    12.399
219573     4.736
219574    -0.822
Name: AverageTemperature, Length: 219575, dtype: float64

In [37]:
def convertir(a):
    a.fillna('z',inplace=True)
    for i in range(len(a)):
        if a[i]=='z':
            if a[i-1]!='z':
                mean=np.mean(a[:i])
                a[i]=mean

In [38]:
convertir(GLT_copy)

In [39]:
GLT['AverageTemperature']=GLT_copy

In [40]:
GLT['AverageTemperature'].isna().sum()

0

In [41]:
GLT_copy_2=GLT['AverageTemperatureUncertainty'].copy()

In [42]:
convertir(GLT_copy_2)

In [43]:
GLT['AverageTemperatureUncertainty']=GLT_copy_2

In [44]:
GLT['AverageTemperatureUncertainty'].isna().sum()

0

##Third point

Define a function that, given the name of a city and an integer N > 0, prints:
(a) the top N hottest measurements;
(b) the top N coldest measurements.

In [45]:
GLT

,Date,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1849-01-01,26.704,1.435,Abidjan,Côte D'Ivoire,5.63N,3.23W
1,1849-02-01,27.434,1.362,Abidjan,Côte D'Ivoire,5.63N,3.23W
2,1849-03-01,27.069,1.3985,Abidjan,Côte D'Ivoire,5.63N,3.23W
3,1849-04-01,26.14,1.387,Abidjan,Côte D'Ivoire,5.63N,3.23W
4,1849-05-01,25.427,1.2,Abidjan,Côte D'Ivoire,5.63N,3.23W
...,...,...,...,...,...,...,...
219570,2012-08-01,23.885,0.435,Xian,China,34.56N,108.97E
219571,2012-09-01,17.028,1.405,Xian,China,34.56N,108.97E
219572,2012-10-01,12.399,0.526,Xian,China,34.56N,108.97E
219573,2012-11-01,4.736,0.519,Xian,China,34.56N,108.97E
219574,2012-12-01,-0.822,0.451,Xian,China,34.56N,108.97E

In [57]:
GLT[GLT['City']=='Xian'].sort_values(['AverageTemperature'],ascending=False).head(10)

,Date,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
218585,1930-07-01,26.762,0.418,Xian,China,34.56N,108.97E
218933,1959-07-01,26.741,0.541,Xian,China,34.56N,108.97E
218729,1942-07-01,26.663,0.491,Xian,China,34.56N,108.97E
218609,1932-07-01,26.544,2.924,Xian,China,34.56N,108.97E
218633,1934-07-01,26.411,0.781,Xian,China,34.56N,108.97E
219077,1971-07-01,26.292,0.366,Xian,China,34.56N,108.97E
219437,2001-07-01,26.094,0.101,Xian,China,34.56N,108.97E
218549,1927-07-01,26.004,0.992,Xian,China,34.56N,108.97E
219497,2006-07-01,25.957,0.727,Xian,China,34.56N,108.97E
219365,1995-07-01,25.908,0.332,Xian,China,34.56N,108.97E

In [58]:
GLT[GLT['City']=='Xian'].sort_values(['AverageTemperature'],ascending=True).head(10)

,Date,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
218579,1930-01-01,-6.418,1.819,Xian,China,34.56N,108.97E
218063,1887-01-01,-5.566,1.562,Xian,China,34.56N,108.97E
217763,1862-01-01,-5.484,2.241,Xian,China,34.56N,108.97E
218878,1954-12-01,-5.421,0.525,Xian,China,34.56N,108.97E
218879,1955-01-01,-5.388,0.887,Xian,China,34.56N,108.97E
218219,1900-01-01,-5.322,1.555,Xian,China,34.56N,108.97E
219143,1977-01-01,-5.303,0.468,Xian,China,34.56N,108.97E
217955,1878-01-01,-4.926,2.87,Xian,China,34.56N,108.97E
219551,2011-01-01,-4.811,0.559,Xian,China,34.56N,108.97E
217751,1861-01-01,-4.766,1.843,Xian,China,34.56N,108.97E