In [78]:
import os
import pandas as pd 
import numpy as np 
from sklearn.preprocessing import OneHotEncoder
import joblib
from sklearn.preprocessing import PolynomialFeatures

In [79]:
# Obtener la ruta del script actual
directorio_actual = os.getcwd()

# Construir la ruta al archivo CSV relativa al directorio actual
ruta_csv = os.path.join(directorio_actual, 'pd', 'NYC_Airbnb\evaluation.csv')

test=pd.read_csv(ruta_csv)

In [80]:
test.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,1,9,2018-10-19,0.21,6,365
1,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,45,49,2017-10-05,0.40,1,0
2,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,2,118,2017-07-21,0.99,1,0
3,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,1,160,2019-06-09,1.33,4,188
4,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70837,-73.95352,Entire home/apt,2,148,2019-06-29,1.20,1,46

In [81]:
test2=test.drop(['id','host_id','host_name','latitude','longitude','last_review', 'name','minimum_nights','number_of_reviews','reviews_per_month','neighbourhood'],axis=1)
test2=test2.fillna(0)

In [82]:
test2.shape

(9779, 4)

In [83]:
# Save the trained model
joblib.dump(test2, 'test2.pkl')

['test2.pkl']

In [84]:
#test2['neighbourhood'].nunique() #The quantity is different to the one of the train

In [85]:
cate=test2.iloc[:,:2] #Depend of the resulting columns

In [87]:
one=OneHotEncoder(sparse=False, dtype=int) 
X_cate=one.fit_transform(cate)
X_cate=pd.DataFrame(X_cate)
db=pd.concat([test2,X_cate],axis=1)
db=db.drop(['neighbourhood_group','room_type'],axis=1)

In [88]:
x_test=db.values

In [89]:
loaded_model = joblib.load('trained_model.pkl')

In [90]:
test2.columns

Index(['neighbourhood_group', 'room_type', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [91]:
poly=PolynomialFeatures(degree=1)
x_poly=poly.fit_transform(x_test)

In [92]:
test.shape

(9779, 15)

In [93]:
y_pred=loaded_model.predict(x_poly)

In [106]:
submi=pd.DataFrame(test['id'])
submi=submi.rename(columns={'id':'Id'})
submi['Predicted']=y_pred

In [107]:
submi

            Id   Predicted
0         2539  101.239879
1         5121   59.976352
2         5203  104.936085
3         5238  227.450602
4         6848  166.388576
...        ...         ...
9774  36478343  125.170478
9775  36481315  202.341486
9776  36482809  144.664512
9777  36484665   61.034607
9778  36485057   64.069766

[9779 rows x 2 columns]

In [108]:
# Specify the file path where you want to save the CSV file
file_path = 'submission.csv'

# Save the DataFrame to a CSV file
submi.to_csv(file_path, index=False)  # Set index=False to exclude the index column from the CSV

print(f"DataFrame has been saved to {file_path}")

DataFrame has been saved to submission.csv