In [249]:
import pandas as pd
import numpy as np
import math 
from collections import Counter

In [250]:
#. You can launch Jupyter Notebook with the command jupyter 

"""Citybik"""

import requests

# Define the API endpoint URL
api_url = "http://api.citybik.es/v2/networks/to-bike"

# Make a GET request to the API
response = requests.get(api_url)

# Check if the request was successful (status code 200)
if response.status_code == 200:

    # Parse and use the response data (e.g., JSON)
    data = response.json()
    print(data)
else:
    # Handle the error
    print(f"Request failed with status code: {response.status_code}")

{'network': {'company': ['Comunicare S.r.l.'], 'href': '/v2/networks/to-bike', 'id': 'to-bike', 'location': {'city': 'Torino', 'country': 'IT', 'latitude': 45.07098200000001, 'longitude': 7.685676}, 'name': '[TO]BIKE', 'source': 'http://www.tobike.it/frmLeStazioni.aspx?ID=22', 'stations': [{'empty_slots': 3, 'extra': {'number': 1, 'reviews': 72, 'score': 4.0, 'status': 'offline', 'uid': '537'}, 'free_bikes': 5, 'id': 'f01c3eb11d001cdeb048c5153d2312ae', 'latitude': 45.04440354326403, 'longitude': 7.617623805999756, 'name': '01. Gerbido', 'timestamp': '2023-10-19T18:48:11.190000Z'}, {'empty_slots': 3, 'extra': {'number': 2, 'reviews': 26, 'score': 3.4, 'status': 'offline', 'uid': '538'}, 'free_bikes': 5, 'id': 'bc312c77398b36b68dcc11a936231be8', 'latitude': 45.067519551794994, 'longitude': 7.563056945800781, 'name': '02. Fabbrichetta', 'timestamp': '2023-10-19T18:48:11.190000Z'}, {'empty_slots': 3, 'extra': {'number': 3, 'reviews': 28, 'score': 3.9, 'status': 'offline', 'uid': '539'}, 'free_bikes': 5, 'id': 'd5b824f8f0b24055820952cae13d8eb6', 'latitude': 45.056364402185814, 'longitude': 7.580995559692383, 'name': '03. Borgo', 'timestamp': '2023-10-19T18:48:11.190000Z'}, {'empty_slots': 3, 'extra': {'number': 4, 'reviews': 112, 'score': 4.2, 'status': 'offline', 'uid': '540'}, 'free_bikes': 5, 'id': 'efb9906681ca572faa6c528c55856187', 'latitude': 45.06171490180712, 'longitude': 7.581188678741455, 'name': '04. Villa Claretta', 'timestamp': '2023-10-19T18:48:11.190000Z'}, {'empty_slots': 3, 'extra': {'number': 5, 'reviews': 44, 'score': 1.2, 'status': 'offline', 'uid': '541'}, 'free_bikes': 5, 'id': '6ada4564cfb797b8829b59ec7742e2ed', 'latitude': 45.06479159126726, 'longitude': 7.588076591491699, 'name': '05. Universita`', 'timestamp': '2023-10-19T18:48:11.190000Z'}, {'empty_slots': 3, 'extra': {'number': 6, 'reviews': 32, 'score': 3.2, 'status': 'offline', 'uid': '542'}, 'free_bikes': 5, 'id': 'd38e65d832c8d32a5e9d6547144e35f5', 'latitude': 45.063139596328625, 'longitude': 7.576832771301269, 'name': '06. Le Serre', 'timestamp': '2023-10-19T18:48:11.190000Z'}, {'empty_slots': 3, 'extra': {'number': 7, 'reviews': 23, 'score': 2.5, 'status': 'offline', 'uid': '543'}, 'free_bikes': 5, 'id': 'ffd596ecd472bfa10fd38a9685f17c8c', 'latitude': 45.06829245027643, 'longitude': 7.599577903747559, 'name': '07. Stazione Ferroviaria Paradiso', 'timestamp': '2023-10-19T18:48:11.190000Z'}, {'empty_slots': 3, 'extra': {'number': 8, 'reviews': 4, 'score': 3.5, 'status': 'offline', 'uid': '1186'}, 'free_bikes': 5, 'id': '22743c60546a6b5713094662d6940f4e', 'latitude': 45.06566411992803, 'longitude': 7.579057797622681, 'name': '08. Lupo', 'timestamp': '2023-10-19T18:48:11.190000Z'}, {'empty_slots': 3, 'extra': {'number': 1, 'reviews': 28, 'score': 3.0, 'status': 'offline', 'uid': '529'}, 'free_bikes': 5, 'id': '8c12fcd7311c98e9a948af38caa4d051', 'latitude': 45.084126990755045, 'longitude': 7.575631141662598, 'name': '01. Certosa / P.le Avis', 'timestamp': '2023-10-19T18:48:11.220000Z'}, {'empty_slots': 3, 'extra': {'number': 4, 'reviews': 87, 'score': 3.0, 'status': 'offline', 'uid': '532'}, 'free_bikes': 5, 'id': 'c50124e7cca913343a6cbeba5e4b6cdb', 'latitude': 45.07373275368509, 'longitude': 7.601809501647949, 'name': '04. Metro Paradiso', 'timestamp': '2023-10-19T18:48:11.220000Z'}, {'empty_slots': 3, 'extra': {'number': 5, 'reviews': 11, 'score': 4.0, 'status': 'offline', 'uid': '533'}, 'free_bikes': 5, 'id': '8fa4807880ed26b205517a071dca0c21', 'latitude': 45.115722339702245, 'longitude': 7.613739967346191, 'name': '05. Savonera', 'timestamp': '2023-10-19T18:48:11.220000Z'}, {'empty_slots': 3, 'extra': {'number': 7, 'reviews': 15, 'score': 2.8, 'status': 'offline', 'uid': '535'}, 'free_bikes': 5, 'id': 'f1d7621c4f2b581dc95871181eaddf7f', 'latitude': 45.07894526052452, 'longitude': 7.574386596679687, 'name': '07. Stazione F.S.', 'timestamp': '2023-10-19T18:48:11.220000Z'}, {'empty_slots': 3, 'extra': {'number': 8, 'reviews': 34, 'score': 1.4, 'status': 'offline', 'uid': '536'}, 'free_bikes': 5, 'id': 'f721695d488b071d3df077eb4a9d50bf', 'latitude': 45.07270231814184, 'longitude': 7.58030891418457, 'name': '08. Gramsci', 'timestamp': '2023-10-19T18:48:11.220000Z'}, {'empty_slots': 0, 'extra': {'number': 1, 'reviews': 35, 'score': 3.8, 'status': 'online', 'uid': '583'}, 'free_bikes': 0, 'id': 'e8242fb035991ef3d83e93fb3b6fa97b', 'latitude': 45.116903418249365, 'longitude': 7.62300968170166, 'name': '01. Concordia', 'timestamp': '2023-10-19T18:48:11.252000Z'}, {'empty_slots': 3, 'extra': {'number': 2, 'reviews': 14, 'score': 4.3, 'status': 'online', 'uid': '584'}, 'free_bikes': 0, 'id': 'bc2f3dac64e76a022c2869659614a6f5', 'latitude': 45.129893668868284, 'longitude': 7.631292343139648, 'name': '02. Pettiti', 'timestamp': '2023-10-19T18:48:11.252000Z'}, {'empty_slots': 1, 'extra': {'number': 3, 'reviews': 15, 'score': 3.9, 'status': 'online', 'uid': '585'}, 'free_bikes': 4, 'id': 'aeb1bf0a60459898301e9f798dbc17b7', 'latitude': 45.12418619577999, 'longitude': 7.632043361663818, 'name': '03. C. Commerciale I Portici', 'timestamp': '2023-10-19T18:48:11.252000Z'}, {'empty_slots': 5, 'extra': {'number': 5, 'reviews': 13, 'score': 4.2, 'status': 'online', 'uid': '587'}, 'free_bikes': 2, 'id': '0c7ddac244be98e27b3249521685e480', 'latitude': 45.127804527473224, 'longitude': 7.635798454284668, 'name': '05. Corso Garibaldi', 'timestamp': '2023-10-19T18:48:11.252000Z'}, {'empty_slots': 5, 'extra': {'number': 7, 'reviews': 20, 'score': 3.0, 'status': 'online', 'uid': '589'}, 'free_bikes': 0, 'id': 'a4792b55af4c2ed4730f24207b924ead', 'latitude': 45.125836425730945, 'longitude': 7.642192840576172, 'name': '07. Buozzi', 'timestamp': '2023-10-19T18:48:11.252000Z'}, {'empty_slots': 2, 'extra': {'number': 8, 'reviews': 10, 'score': 4.1, 'status': 'online', 'uid': '590'}, 'free_bikes': 2, 'id': '99d05089c79ad0acfd5d3acecaf2cd83', 'latitude': 45.12489776867726, 'longitude': 7.65296459197998, 'name': '08. San Marchese', 'timestamp': '2023-10-19T18:48:11.252000Z'}, {'empty_slots': 4, 'extra': {'number': 10, 'reviews': 40, 'score': 4.5, 'status': 'online', 'uid': '592'}, 'free_bikes': 0, 'id': 'f16cba9c6dc917e833eab7bf3e0168b7', 'latitude': 45.114828943536864, 'longitude': 7.641313076019287, 'name': '10. Gallo Praile', 'timestamp': '2023-10-19T18:48:11.252000Z'}, {'empty_slots': 3, 'extra': {'number': 2, 'reviews': 11, 'score': 3.0, 'status': 'offline', 'uid': '593'}, 'free_bikes': 5, 'id': 'd6806ba5784a0d60f24f380a9b09a1cb', 'latitude': 45.099654215224064, 'longitude': 7.531235218048096, 'name': '02. Berlinguer', 'timestamp': '2023-10-19T18:48:11.281000Z'}, {'empty_slots': 3, 'extra': {'number': 1, 'reviews': 16, 'score': 2.1, 'status': 'offline', 'uid': '594'}, 'free_bikes': 5, 'id': '0df8838da4cf2ffe0eaf28629b902dd7', 'latitude': 45.094383006473215, 'longitude': 7.524325847625732, 'name': '01. Municipio', 'timestamp': '2023-10-19T18:48:11.281000Z'}, {'empty_slots': 3, 'extra': {'number': 1, 'reviews': 20, 'score': 2.8, 'status': 'offline', 'uid': '595'}, 'free_bikes': 5, 'id': '8bca5f91b24693d216f576525e7c1647', 'latitude': 45.136100086850355, 'longitude': 7.576360702514648, 'name': '01. Largo Oropa', 'timestamp': '2023-10-19T18:48:11.310000Z'}, {'empty_slots': 3, 'extra': {'number': 2, 'reviews': 1, 'score': 1.0, 'status': 'online', 'uid': '1563'}, 'free_bikes': 5, 'id': 'd55bde750a05150e2bd91d020a5a743e', 'latitude': 45.134345, 'longitude': 7.576462, 'name': '02. BIKE POINT Mandria', 'timestamp': '2023-10-19T18:48:11.310000Z'}, {'empty_slots': 3, 'extra': {'number': 9, 'reviews': 29, 'score': 4.7, 'status': 'offline', 'uid': '591'}, 'free_bikes': 5, 'id': 'dff9f20a6eb38d6a666eccb3cff13fd8', 'latitude': 45.120052841530544, 'longitude': 7.648565769195557, 'name': '09. Rigola', 'timestamp': '2023-10-19T18:48:11.252000Z'}, {'empty_slots': 5, 'extra': {'number': 4, 'reviews': 24, 'score': 4.2, 'status': 'online', 'uid': '586'}, 'free_bikes': 1, 'id': 'e6642b43e6d4732fcd596eef9dc4c931', 'latitude': 45.13563084470412, 'longitude': 7.625724077224732, 'name': '04. Reggia', 'timestamp': '2023-10-19T18:48:11.252000Z'}, {'empty_slots': 10, 'extra': {'number': 6, 'reviews': 37, 'score': 4.2, 'status': 'offline', 'uid': '588'}, 'free_bikes': 2, 'id': 'c152199d3e16721e1f430de89ffff5eb', 'latitude': 45.13300074668823, 'longitude': 7.632789015769959, 'name': '06. Municipio', 'timestamp': '2023-10-19T18:48:11.252000Z'}, {'empty_slots': 3, 'extra': {'number': 10, 'reviews': 5, 'score': 2.5, 'status': 'offline', 'uid': '1185'}, 'free_bikes': 5, 'id': '8d5cc1c49d81c66760c500a922d80b5c', 'latitude': 45.09064418309555, 'longitude': 7.570132452917505, 'name': '10. Europa Unita', 'timestamp': '2023-10-19T18:48:11.220000Z'}]}}

**IRIS**

In [251]:
iris=pd.read_csv('https://raw.githubusercontent.com/MateoRivera/Data-science-lab---Laboratories/main/datasets/iris/iris.data', header=None)

In [252]:
iris.columns

Int64Index([0, 1, 2, 3, 4], dtype='int64')

In [253]:
def mean(a):
    suma=sum(a.values)
    count=len(a.values)
    miu= (1/count)*suma
    return miu

In [254]:
def desv(m,a):
    n= len(a.values)
    suma=sum(m-a)**2
    return math.sqrt((suma)*(1/len(a.values)))

## Second point

In [255]:
media=[]
for i in iris.columns:
    
    if i==4:
        break
    else:
        media.append(round(mean(iris[i]),2))

In [256]:
print(media)

[5.84, 3.05, 3.76, 1.2]

In [257]:
iris.columns

Int64Index([0, 1, 2, 3, 4], dtype='int64')

In [258]:
sigma=[]
for i in iris.columns: 
    if i==4:
        break
    else:
        sigma.append(round(desv(media[i],iris[i]),2))

In [259]:
print(sigma)

[0.04, 0.05, 0.02, 0.02]

## Third Point

In [260]:
types=iris[4].unique()

In [261]:
final=pd.DataFrame()

In [262]:
final['Types']=types

In [263]:
final.head()

             Types
0      Iris-setosa
1  Iris-versicolor
2   Iris-virginica

In [264]:
iris[iris[4]==types[0]] #Where the name is the same to each cathegory

      0    1    2    3            4
0   5.1  3.5  1.4  0.2  Iris-setosa
1   4.9  3.0  1.4  0.2  Iris-setosa
2   4.7  3.2  1.3  0.2  Iris-setosa
3   4.6  3.1  1.5  0.2  Iris-setosa
4   5.0  3.6  1.4  0.2  Iris-setosa
5   5.4  3.9  1.7  0.4  Iris-setosa
6   4.6  3.4  1.4  0.3  Iris-setosa
7   5.0  3.4  1.5  0.2  Iris-setosa
8   4.4  2.9  1.4  0.2  Iris-setosa
9   4.9  3.1  1.5  0.1  Iris-setosa
10  5.4  3.7  1.5  0.2  Iris-setosa
11  4.8  3.4  1.6  0.2  Iris-setosa
12  4.8  3.0  1.4  0.1  Iris-setosa
13  4.3  3.0  1.1  0.1  Iris-setosa
14  5.8  4.0  1.2  0.2  Iris-setosa
15  5.7  4.4  1.5  0.4  Iris-setosa
16  5.4  3.9  1.3  0.4  Iris-setosa
17  5.1  3.5  1.4  0.3  Iris-setosa
18  5.7  3.8  1.7  0.3  Iris-setosa
19  5.1  3.8  1.5  0.3  Iris-setosa
20  5.4  3.4  1.7  0.2  Iris-setosa
21  5.1  3.7  1.5  0.4  Iris-setosa
22  4.6  3.6  1.0  0.2  Iris-setosa
23  5.1  3.3  1.7  0.5  Iris-setosa
24  4.8  3.4  1.9  0.2  Iris-setosa
25  5.0  3.0  1.6  0.2  Iris-setosa
26  5.0  3.4  1.6  0.4  Iris-setosa
27  5.2  3.5  1.5  0.2  Iris-setosa
28  5.2  3.4  1.4  0.2  Iris-setosa
29  4.7  3.2  1.6  0.2  Iris-setosa
30  4.8  3.1  1.6  0.2  Iris-setosa
31  5.4  3.4  1.5  0.4  Iris-setosa
32  5.2  4.1  1.5  0.1  Iris-setosa
33  5.5  4.2  1.4  0.2  Iris-setosa
34  4.9  3.1  1.5  0.1  Iris-setosa
35  5.0  3.2  1.2  0.2  Iris-setosa
36  5.5  3.5  1.3  0.2  Iris-setosa
37  4.9  3.1  1.5  0.1  Iris-setosa
38  4.4  3.0  1.3  0.2  Iris-setosa
39  5.1  3.4  1.5  0.2  Iris-setosa
40  5.0  3.5  1.3  0.3  Iris-setosa
41  4.5  2.3  1.3  0.3  Iris-setosa
42  4.4  3.2  1.3  0.2  Iris-setosa
43  5.0  3.5  1.6  0.6  Iris-setosa
44  5.1  3.8  1.9  0.4  Iris-setosa
45  4.8  3.0  1.4  0.3  Iris-setosa
46  5.1  3.8  1.6  0.2  Iris-setosa
47  4.6  3.2  1.4  0.2  Iris-setosa
48  5.3  3.7  1.5  0.2  Iris-setosa
49  5.0  3.3  1.4  0.2  Iris-setosa

In [265]:
miu=[]
for i in range(4):
    for j in range(3):
        selected_values = iris.loc[iris[4] == types[j-1], i]
        miu.append(round(mean(selected_values),2))
    final['miu'+str(i)]=miu
    miu=[]

In [266]:
desvi=[]
for i in range(4):
    for j in range(3):
        selected_values = iris.loc[iris[4] == types[j-1], i]
        desvi.append(round(desv(final['miu'+str(i)][j],selected_values),2))
    final['desvi'+str(i)]=desvi
    desvi=[]

In [267]:
final

             Types  miu0  miu1  miu2  miu3  desvi0  desvi1  desvi2  desvi3
0      Iris-setosa  6.59  2.97  5.55  2.03    0.01    0.03    0.01    0.03
1  Iris-versicolor  5.01  3.42  1.46  0.24    0.03    0.01    0.03    0.03
2   Iris-virginica  5.94  2.77  4.26  1.33    0.03    0.00    0.00    0.03

0 and 1 belongs to the sepal lenght and sepal width respectly
2 and 3 belongs to the petal lenght and petal width respectly

**Based on the results of exercises 2 and 3, which of the 4 measurements would you considering
as being the most characterizing one for the three species? (In other words, which measurement
would you consider “best”, if you were to guess the Iris species based only on those four values?)**

Based on the 2 and 3 results, the most characterizing measurement is the petal lenght due to the notorius differences between the species

**Based on the considerations of Exercise 3, assign the flowers with the following measurements
to what you consider would be the most likely species.**

In [268]:
a=np.array([
[5.2, 3.1, 4.0, 1.2],
[4.9, 2.5, 5.6, 2.0],
[5.4, 3.2, 1.9, 0.4]
])

In [269]:
a=pd.DataFrame(data=a)

In [270]:
a

     0    1    2    3
0  5.2  3.1  4.0  1.2
1  4.9  2.5  5.6  2.0
2  5.4  3.2  1.9  0.4

In [271]:
#Ranks
rank_s=[]
rank_inf=[]
for i in range(4):
    rank_s.append(final['miu'+str(i)]+final['desvi'+str(i)])
    rank_inf.append(final['miu'+str(i)]-final['desvi'+str(i)])

In [272]:
matrix_flor=[]
for i in range(4):
    column_flor=[]
    _flor=[]
    for j in range(3): 
        distancia_s=abs(rank_s[j]-(a[i][j]))
        distancia_inf=abs(rank_inf[j]-(a[i][j]))
        distancia_tot=distancia_s+distancia_inf
        posicion=np.argmin(distancia_tot)
        column_flor.append(final.iloc[posicion,0])
    matrix_flor.append(column_flor)

In [273]:
matrix_flor=np.transpose(matrix_flor)

In [274]:
answer=[]
for i in range(3):
    frecuency=Counter(matrix_flor[i])
    word_most_frequent = frecuency.most_common(1)[0][0]
    answer.append(word_most_frequent)

In [275]:
print("The data belongs to the next flowers: ",answer)

The data belongs to the next flowers:  ['Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor']